CONFIG_IDF_TARGET="esp32p4"
# Chip v1.0 (WT9932P4-TINY): obligatorio el modo "revisiones < 3.0" y 360 MHz
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# 32 MB de PSRAM en el encapsulado
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_CACHE_L2_CACHE_128KB=y   # deja 128 KB más de RAM interna (el H.264 pide 135 KB contiguos)

CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# medir CPU por núcleo
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_COUNTER_TYPE_U64=y
# la IA deja la CPU al 100%: el perro guardián no debe exigir que corra la tarea IDLE
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n

# USB: red NCM (la UVC se activa en CMakeLists.txt)
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_TINYUSB_NCM_OUT_NTB_BUFFS_COUNT=5
CONFIG_TINYUSB_NCM_IN_NTB_BUFFS_COUNT=3
CONFIG_TINYUSB_NCM_OUT_NTB_BUFF_MAX_SIZE=8192
CONFIG_TINYUSB_NCM_IN_NTB_BUFF_MAX_SIZE=8192

# lwIP rápido (cuadros de hasta 2560x1440 por TCP)
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=65534
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCP_MSS=1460
CONFIG_LWIP_IRAM_OPTIMIZATION=y
CONFIG_LWIP_EXTRA_IRAM_OPTIMIZATION=y
CONFIG_LWIP_MAX_SOCKETS=20
CONFIG_LWIP_TCPIP_TASK_AFFINITY_CPU0=y
CONFIG_LWIP_TCPIP_TASK_PRIO=18

# HTTP
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

# TLS con certificados de confianza incluidos; memoria de mbedTLS en PSRAM
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y

# núcleo LP
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_LP_CORE=y
CONFIG_ULP_COPROC_RESERVE_MEM=8192

# IA: detector de caras ESPDet-Pico 224 (respeta la proporción de la imagen, más preciso que MSR+MNP)
CONFIG_FLASH_ESPDET_PICO_224_224_FACE=y
CONFIG_ESPDET_PICO_224_224_FACE=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
